

@import "tailwindcss";

@property --border-angle {
 inherits: false;
 initial-value: 0deg;
 syntax: "<angle>";
}

@theme {
 --font-inter: 'Inter', sans-serif;
 --text-xxs: 0.625rem;
 --shadow-shape: 0px 0px 0px 1px #0000001A,
                 0px 2px 2px 0px #0000001A,
                 0px 4px 4px 0px #0000001A,
                 0px 8px 8px 0px #0000001A,
                 0px 1px 0px 0px #FFFFFF08 inset,
                 0px 0px 0px 1px #FFFFFF08 inset;
 --shadow-content: 0px 0px 0px 1px #0000001A,
                 0px 2px 2px 0px #0000001A,
                 0px 4px 4px 0px #0000001A,
                 0px 8px 8px 0px #0000001A,
                 0px 1px 0px 0px #FFFFFF08 inset,
                 0px 0px 0px 1px #FFFFFF08 inset;

 --animate-border: border 2s linear infinite;
 @keyframes border {
  to: {
   --border-angle: 360deg;
  }
 }
}